<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>
<article class="about">
	<h2>Sobre mi</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus lorem sed auctor viverra. Nunc in viverra est, a vehicula lectus. Sed at lobortis neque, vel cursus massa. Curabitur vel fermentum odio, non venenatis risus. Quisque fringilla gravida lorem id ullamcorper. Quisque vehicula ipsum quis dapibus dignissim. Maecenas eu nibh aliquam, porta nisl ut, molestie nisi. Mauris non neque ac augue sodales ultricies sed at nisl. Aenean felis nulla, imperdiet non.
	</p><p>
		Donec pharetra ante ac semper porta. Vivamus sit amet pellentesque lacus. Etiam at leo et ante venenatis elementum. Nullam gravida tortor quis justo porta, id consequat tortor semper. Vestibulum aliquam nec eros non aliquam. Curabitur at neque sit amet urna eleifend pellentesque. Suspendisse id sollicitudin nulla, id finibus libero. Mauris varius justo quis quam laoreet, vitae luctus massa fringilla. Quisque mauris lectus, ultricies at commodo nec, aliquet sed ligula. Vestibulum congue velit sed mattis mattis. Phasellus pellentesque lectus feugiat felis feugiat viverra.

	</p>

</article>